name: Proxy Listener (repository_dispatch)

on:
  repository_dispatch:
    types: [stream_trigger]


jobs:
  proxy:
    runs-on: ubuntu-latest
    steps:
      - name: Show payload
        run: echo "Payload: ${{ toJson(github.event.client_payload) }}"

      - name: Trigger stream using dispatch
        run: |
          curl -s -X POST             -H "Authorization: token ${{ secrets.GH_PAT }}"             -H "Accept: application/vnd.github.v3+json"             -H "Content-Type: application/json"             -d "{"event_type":"stream_trigger","client_payload":${{ toJson(github.event.client_payload) }}}"             https://api.github.com/repos/rigusapp/yt_stream/dispatches
