name: Proxy Trigger

on:
  workflow_dispatch:
    inputs:
      video_url:
        required: true
      start_time:
        required: true
      duration_seconds:
        required: true
      seamless:
        required: false

jobs:
  proxy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger stream using composite action (uses GH_PAT)
        uses: ./.github/actions/trigger
        with:
          video_url: ${{ github.event.inputs.video_url }}
          start_time: ${{ github.event.inputs.start_time }}
          duration_seconds: ${{ github.event.inputs.duration_seconds }}
          seamless: ${{ github.event.inputs.seamless }}
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
