name: Stream to YouTube (FFmpeg Seamless Loop)

on:
  repository_dispatch:
    types: [stream_trigger]

jobs:
  stream:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install FFmpeg
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      - name: Debug Payload
        run: |
          echo "VIDEO: ${{ github.event.client_payload.video_url }}"
          echo "RTMP: ${{ github.event.client_payload.rtmp_url }}"
          echo "KEY:  ${{ github.event.client_payload.stream_key }}"
          echo "DUR:  ${{ github.event.client_payload.duration_seconds }}"

      - name: Stream to YouTube
        run: |
          RTMP="${{ github.event.client_payload.rtmp_url }}/${{ github.event.client_payload.stream_key }}"

          ffmpeg -re -stream_loop -1 \
          -i "${{ github.event.client_payload.video_url }}" \
          -c:v libx264 -preset veryfast -b:v 4500k \
          -c:a aac -b:a 128k \
          -f flv "$RTMP"
